body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FFF9CA;
    font-family: 'Montserrat';
    
}

.game-container {
    position: relative;
}

canvas {
    border: 2px solid #333;
    background: #70c5ce;
}

.butt {
  font-family: 'Montserrat';
  font-weight: bold;
  color:#FFF9CA;
  border-radius: 6px;
  background-color: #821902;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-size: 35px;
  margin-right: 150px;
  margin-top: 280px;
  transition: background-color 0.3s ease;
  border-color:#821902;
}

.butt:hover {
    background-color: #FFF9CA;
    color:#821902;
    border-color:#FFF9CA;
}

#results, #instructions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* сообщение о конце игры не показываем на старте */
#results {
  display: none;
  cursor: default;
}

/* отступы в текстах */
#results .content,
#instructions .content {
  max-width: 300px;
  padding: 50px;
  border-radius: 20px;
}

/* настройка вывода набранных очков в правом верхнем углу */
#score {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: 30px;
  right: 30px;
}

.btn {
    font-family: 'Montserrat';
    color: #FFF9CA;
    background-color: #821902;
    border-radius: 8px;
}

#list1 {
    height: 50px;
    display: block;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

#list1 li{
    float: left;
    height: 50px;
    margin-right: 30px;
}

ul{
    list-style-type: none;
}

#li1 {
    background-color: #821902;
    color: #FFF9CA;
    border-color:#821902;
    border-radius: 8px;
    padding-top: 8px;
}

#li1 a{
    color: #FFF9CA;
}

#navbar-b {
    font-family: 'Montserrat'; align-content: right; color: #821902; margin: 10px;
    font-weight: bold;
    margin-top: auto;
    font-size: 24px;

}

#bt-pr {
    
    width: 120px;
    margin-top: auto;
    border-color:#821902;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
}

#bt-pr:hover {
   background-color: #FFF9CA;
    color:#821902;
    border-color:#FFF9CA;
}

#bt-zr:hover {
   background-color: #FFF9CA;
    color:#821902;
    border-color:#FFF9CA;
}

#bt-zr {
    
    width: 290px;
    margin-top: auto;
    border-color:#821902;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
}