<!DOCTYPE html>
<html lang="ru" >
<head>
  <meta charset="UTF-8">
  <title>Ponzy Cheme</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/game2.css">
</head>
<body>
<div id="results">
  <div class="content">
    <p>Вы промахнулись</p>
    <p>Для перезапуска игры нажмите R</p>
  </div>
</div>
<div id="score">0</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r124/three.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/cannon.js/0.6.2/cannon.min.js'></script>
  <script  src="./static/js/game2.js"></script>
<div class="butt">
  <a href="/"><button class="butt">В меню</button></a>
</div>
